@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif, 'Consolas';
  overflow: hidden;
  color: white;
}

section {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: 30px;
  position: relative;
}

.title {
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-title {
  font-size: 3.5vw;
  text-align: center;
}

p {
  font-size: 30px;
}

section:nth-of-type(1) {
  background-color: #6a7083;
}
section:nth-of-type(2n) {
  background-color: #2e5367;
}
section:nth-of-type(3n) {
  background-color: #267481;
}
section:nth-of-type(4n) {
  background-color: #fcb052;
}
section:nth-of-type(5n) {
  background-color: #f06a59;
}

@media (max-width: 850px) {
  .title {
    font-size: 30px;
  }
}

.container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 30px 60px;
}

button {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
  margin: 0 10px;
  outline: 0;
}

button:focus {
  outline: 0;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
button:active {
	position:relative;
	top:1px;
}